@charset "UTF-8"

/**************
CSS PRINCIPAL
************/
/*
Corporativos
Naranja: #ff6600
Gris: #808080

Gris claro contactenos superior:#cccccc
Gris fondo zona logo clientes:#b3b3b3
Gris contactenos inferior:#808080
*/

/*Reset Inicial*/

body {
	max-width: 1024px;
}
a {
	text-decoration: none;
}
/*Slider*/
#owl-demo {
	width: 124.3%;
	margin-left: -12.13%;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: 400px;
}
.franja {
	width: 1024px;
	height: 220px;
background: rgba(0,0,0,0.62);
background: -moz-linear-gradient(left, rgba(0,0,0,0.40) 60%, rgba(199,80,0,0.40) 100%);
background: -webkit-gradient(left top, right top, color-stop(60%, rgba(0,0,0,0.40)), color-stop(100%, rgba(199,80,0,0.40)));
background: -webkit-linear-gradient(left, rgba(0,0,0,0.40) 60%, rgba(199,80,0,0.40) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,0.40) 60%, rgba(199,80,0,0.40) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,0.40) 60%, rgba(199,80,0,0.40) 100%);
background: linear-gradient(to right, rgba(0,0,0,0.40) 60%, rgba(199,80,0,0.40) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#c75000', GradientType=1 );


}
/*---Area Practica Descripcion---*/ 
section {
	width: 100%;
	height: 600px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-flow:  column;
    flex-flow: column;
    -webkit-justify-content: space-around;
    justify-content:space-around;
	margin-top: -210px;
	margin-bottom: 10px;
	position: relative;
}
/*Texto en Franja, Iconos Redes y Email*/
.texsup p strong {
	text-align: center;
	font-family: 'roboto',sans-serif;
	font-weight: 300;
	font-size: 1.8em;
	color: white;
}
.texsup p {
	text-align: center;
	font-family: 'roboto',sans-serif;
	font-weight: 300;
	font-size: 0.7em;
	color: white;
}
.texsup a {
	margin-top: 10px;
	text-decoration: none;
	text-align: center;
	font-family: 'roboto',sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: white;
}
.texsup span {
	padding-top: 15px;
	padding-right: 10px;
}
.texsup a span:hover {
	color: #ff6600;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
/*----Cuadro de color y Info casos---*/
.secup {
	width: 100%;
	height: 28.5%;
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-flow:  row wrap;
    flex-flow: row wrap;
    -webkit-justify-content:  space-around;
    justify-content: space-around;
	background-color: rgba(255,102,0,0.85);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 1);
}
/* Imagen Profesional*/
.secup img {
	margin-right: auto;
}
#text {
	width: 20%;
	line-height: 1.3em;
	text-align: left;
	font-size: 0.7em;
	font-family: 'roboto',sans-serif;
	font-weight: 300;
	color: #cccccc;;
	margin-right:50px;
}
#text a {
	text-decoration: none;
	text-align: left;
	font-family: 'roboto',sans-serif;
	font-weight: 300;
	color: #cccccc;
}
#text a span {
	visibility: hidden;
}
#text a:hover {
	color: #FFFFFF;
	font-weight: 400;
}
#text a:hover > span{
	color: #FFFFFF;
	visibility: visible;
}
/*Cuadro Derecho Cuadro Naranja*/
#text2 {
	width: 40%;
	height: 150px;
	line-height: 1.3em;
	word-spacing: 0.1em;
	text-align: right;
	font-size: 0.8em;
	font-family: 'roboto',sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: auto;
	padding-right: 20px;
	overflow: auto;
}

/*Info Clientes*/
.secdown {
	width: 100%;
	height: 100%;
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-flow:  row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content:space-between;
}
.icof {
	width: 150px;
	height: 150px;
	background-color: rgba(255,102,0,0.85);
}
.icof a {
	text-decoration: none;
	color:#cccccc;
}
.icof a p {
	line-height: 1.3em;
	word-spacing: 0.1em;
	text-align: center;
	font-size: 1em;
	font-family: 'roboto',sans-serif;
	font-weight: 300;
	color: #ffffff;
	margin-top: 100px;
}
.icof a p span {
	padding-top: 10px;
}
#item1:hover {
	background-image: url('../imagenes/logos_clientes/logo_cinte_color_200px.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}
#item1:hover a {
	display: none;
}
#item2:hover {
	background-image: url('../imagenes/logos_clientes/logo_smart_color_200px.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}
#item2:hover a {
	display: none;
}
#item3:hover {
	background-image: url('../imagenes/logos_clientes/logo_primavera_color_200px.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}
#item3:hover a {
	display: none;
}
#item4:hover {
	background-image: url('../imagenes/logos_clientes/logo_Usmigration_color_200px.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}
#item4:hover a {
	display: none;
}
#item5:hover {
	background-image: url('../imagenes/logos_clientes/logo_aguas_color_200px.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}
#item5:hover a {
	display: none;
}
#item6:hover {
	background-image: url('../imagenes/logos_clientes/logo_ERC_color_200px.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}
#item6:hover a {
	display: none;
}
#item7:hover {
	background-image: url('../imagenes/logos_clientes/logo_winalite_color_200px.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}
#item7:hover a {
	display: none;
}
#item8:hover {
	background-image: url('../imagenes/logos_clientes/logo_ecosmart_color_200px.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}
#item8:hover a {
	display: none;
}
#item9:hover {
	background-image: url('../imagenes/logos_clientes/logo_creo_color_200px.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}
#item9:hover a {
	display: none;
}
#item10:hover {
	background-image: url('../imagenes/logos_clientes/logo_bolsamercantil_color_200px.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}
#item10:hover a {
	display: none;
}
#item11:hover {
	background-image: url('../imagenes/logos_clientes/logo_sanquim_color_200px.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
#item11:hover a {
	display: none;
}
#item12:hover {
	background-image: url('../imagenes/logos_clientes/logo_UAndes_color_200px.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}
#item12:hover a {
	display: none;
}
#item13:hover {
	background-image: url('../imagenes/logos_clientes/logo_colsdb_color_200px.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}
#item13:hover a {
	display: none;
}
#item14:hover {
	background-image: url('../imagenes/logos_clientes/logo_asegurate_color_200px.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}
#item14:hover a {
	display: none;
}
#item15:hover {
	background-image: url('../imagenes/logos_clientes/logo_ANI_color_200px.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}
#item15:hover a {
	display: none;
}
/*Media Querys*/

/*Movil*/
@media only screen and (max-width:480px){
body {
	width: 100%;
}
/*Slider*/
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
.franja {
	width: 100%;
	height: 55%;
}
/*---Area Practica Descripcion---*/ 
section {
	width: 100%;
	height: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-flow:  column;
    flex-flow: column;
    -webkit-justify-content: space-around;
    justify-content:space-around;
	margin-top: -28%;
	margin-bottom: 2%;
	position: relative;
}
/*Texto en Franja, Iconos Redes y Email*/
.texsup {
	margin-bottom: 2%;
}
/*Info Clientes*/
.secdown {
	width: 100%;
	height: auto;
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-flow:  row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content:space-between;
}
.icof {
	margin-bottom: 2%;
}
.icof:last-child {
	margin: 0 auto;
}
}
/*Tabletas*/
@media only screen and (min-width:481px) and (max-width:768px){
body {
	width: 100%;
}
/*---Area Practica Descripcion---*/ 
section {
	width: 100%;
	height: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-flow:  column;
    flex-flow: column;
    -webkit-justify-content: space-around;
    justify-content:space-around;
	margin-top: -30%;
	margin-bottom: 2%;
	position: relative;
}
/*Texto en Franja, Iconos Redes y Email*/
.texsup {
	margin-bottom: 2%;
}
/*Info Clientes*/
.secdown {
	width: 90%;
	height: auto;
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-flow:  row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content:space-between;
}
.icof {
	margin-bottom: 2%;
}
}
/*Pantalla*/
@media only screen and (min-width:769px){
body {
	width: 1024px;
	margin: 0 auto;
}
}