@charset 'UTF-8';
/*--------------------*/
/*tablas program*/

.programa h1{
    margin-top: 15px !important;
    color: #ffffff !important;
}
.programa th{
    text-align: center;
    background-color: #d40000;
}

.programa p{
    font-style: italic;
    font-size:1em;
    color: #4d4d4d;
}
.programa h3{ 
    font-size:1.2em;
    color: #d40000;
}
.programa td{
    padding:1% 5%;
    height: 30px;
    text-align: left;
}

.programa td span{
    padding-left:5%; 
    text-align: top;
    color:#d40000;
    font-size: 2em;
}
/*Para hover hora*/
.programa td a {
    text-decoration:none;
    display:inline;
}

.programa td a:hover span{
    height: 5%;
    width: 100%;
    padding-top:8%;
    display: inline-block; 
    font-weight: 500;    
    font-size:2em;
    color: #4d4d4d;
    background-color: rgba(179,179,179,0.7);
    cursor: pointer;
    }

.programa td a:hover .charla{ 
    display:none;
}
.programa td a span{
    display:none;
}
/*fin hover hora*/

.programa{
    width: 80%;
    display:none;
    flex-flow:row nowrap;
    justify-content:space-around;
    }

.tabla{
    width:80%;
    margin: 5% 5%;
    background-color:rgba(204,204,204, 0.3);
}

.tabla_head{
    height: 40px;
    width: 100%;
    }
.tabla_head h1{
    margin:auto;
}
.short_talk h3{
    color:#4d4d4d;  
    }

.coffee{
    height: 60px;
    background-color: #b3b3b3;
    }

.coffee h3, .coffee span{
    color:#ffffff !important;
}

.lunch{
    height: 120px;
    background-color: #b3b3b3;
    color: white;   
    }

.lunch h3, .lunch span{
    color:#ffffff !important;
}

.posters{
    height:60px;
}
/* Configuracion Program*/
#moday {
    display: block;
}
/* #tuesday {
    display: none;
}
#wednesday {
    display: none;
}
#thursday {
    display: none;
}
#friday {
    display: none;
} */