@charset 'UTF-8';

*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.text {
    box-sizing: border-box;
    width: 70%;
    height: 500px;
    margin: 0 auto;
    background: transparent;
    display: flex;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.text2{
    padding-top: 50px;
    box-sizing: border-box;
    width: 70%;
    height: 500px;
    margin: 0 auto;
    background: transparent;
}
.nav {
    padding-right: 100px;
}