@charset 'UTF-8';

/**************
CSS PRINCIPAL
************/
/*
Corporativos
Azul: #0088aa;
Rojo: #da1418;

*******
Fonts
*******

font-family: 'Ubuntu', sans-serif;
font-family: 'Ubuntu Mono', monospace;
font-family: 'Ubuntu Condensed', sans-serif;

*****
Titulos Noticias: 16 pt;
Contenido Noticias: 10pt;
Titulo seccion: 20pt;
Subtitulo seccion: 14pt;
Contenido Principal Seccion: 13pt;
Contenido Secundario Seccion: 10pt;

*/

/*Reset Inicial*/

*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1em;
    font-weight: 400;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
/* body {
    padding-top: 30px;
} */

/*Scroll Bar Solo funciona en Chrome*/

::-webkit-scrollbar {
    width: 0;
    border-radius: 0;
    border: 0 solid transparent;
}
 
::-webkit-scrollbar-track {
    border-radius: 0;
    border: 0 solid transparent;
}
 
::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0;
}

/**********/

/* Header */
.wrap {
    width: 100%;
    background-color: #0088aa;
    top: 0;
/*     position: fixed; */
}
.wrapper {
    max-width: 814px;
    margin: 0 auto;
    color: #FFFFFF;
}
/*-----*/
.contactUp {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-flow:row no-wrap;
    height: 30px;
    color: #ffffff;
    width: 60%;
    margin-left: auto;
}
.contacto p{
    padding-top: 7px;
    padding-right: 15px;  
    font-size: 0.67em;
}
.contacto p:last-child {
    padding-right: 0;
}
.contacto p span {
    padding-right: 10px;
}
.contacto p a {
    text-decoration: none;
    color: #ffffff;
}
.contacto a:hover {
    color:darkblue;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
/* Menu */
nav {
    background-color: transparent;
    text-align: right;
    word-spacing: 22px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 2px 2px;
    font-size: 0.67em;
}


/**********/
/*Sections Reset*/
.content {
    height: 400px;
    background-color: rgba(255,0,0,0.6);
    color: #FFFFFF;
}
/* Section 1 */
#logo {
    float: left;
    margin-top: 60px;
    margin-left: 117px;
}
#textlogo {
    height: 160px;
    float: left;
    margin-top: 60px;
    margin-left: 30px;
    vertical-align: ;
}
#le1 {
    font-size: 3em;
    letter-spacing: 0.1em;
}
#le2 {
    font-size: 0.75em;
    letter-spacing: 0.3em;
}
#le3 {
    font-size: 1em;
    letter-spacing: 0.3em;
}
#le4 {
    font-size: 1.5em;
    letter-spacing: 0.3em;
}
#le5 {
    font-size: 1em;
    letter-spacing: 0.3em;
}
#dateplace {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 62px;
    clear: both;
    width: 100%;
    letter-spacing: 0.2em;
}
#dateplace sup {
    margin-left: -3px;
    letter-spacing: 0;
    font-size: .4em;
}

/***********/
/*Reset Section*/
.info a {
    text-decoration: none;
    font-size: 0.625em;
    color: #6f6f6f;
}
.news {
    height: auto;
    padding-bottom: 25px;
}
/* Section 2 */
.line {
    height: 145px;
    width: 1px;
    background-color: #da1418;
}
.info {
    display: flex;
    justify-content: space-around;
    padding-top: 46px;
}
.icons {
    width: 37px;
    height: auto;
    float: left;
    margin-right: 20px;
}
.info h2 {
    float: left;
}
#text1,#text2 {
    clear: both;
}
.info footer {
    text-align: right;
}
.info article {
    padding-right: 60px;
}
.info article:last-child {
    padding-left: 50px;
    padding-right: 0;
}
.info p {
    padding: 30px 0;
    width: 350px;
    height: 90px;
    font-size: 0.625em;
    color: #6f6f6f;
    overflow: hidden;
}
.info i {
    margin-left: 15px;
    color: #da1418;
}
.info header {
    font-size: 1em;
    color: #da1418;
}
/***********/
/*Reset Section*/
.dif {
   padding-top: 50px;
}
.met {
    height: 300px;
    background-color: rgba(255, 255, 255,.7);
    color: #FFFFFF;
    word-spacing: 0.1em;
}
/* Section 3 */
.met article {
    padding: 36px 100px 52px 100px;
}
.met h1 {
    text-align: center;
    margin-bottom: 16px;
    color: #0088aa;
    font-size: 1.250em;
    letter-spacing: 0.1em;
}
.met h1:last-child {
    padding-top: 22px;
    font-size: 0.875em;
}
.met hr {
    margin:  0 auto;
    height: 1px;
    width: 40px;
    background-color: #0088aa;
    border: none;
}

.met p {
    height: 170px;
    margin-top: 30px;
    text-align: justify;
    overflow: scroll;
    font-size: 0.813em;
    letter-spacing: 0.1em;
}
/***********/
/*Reset Section*/
#prog ul li {
    list-style: none;
}
#prog ol li {
    font-size: 0.8em;
}
#prog {
    color: #6f6f6f;
    padding-bottom: 50px;
}
/* Section 4 */
#prog h1 {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 15px;
    color: #da1418;
    font-size: 1.250em;
    letter-spacing: 0.1em;
}
#prog hr {
    margin:  0 auto;
    height: 1px;
    width: 40px;
    background-color: #da1418;
    border: none;
}
.program {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
/* Seccion lado Izquierdo Programme */
.program ol span {
    margin-left: -10px;
}
.program ol li {
    margin-bottom: 10px;
}
/*Seccion Tabla*/
.divTable{
    display: table;
    width: 100%;
    font-size: 0.813em;
}
.divTableRow {
    display: table-row;
}
.divTableHeading {
    display: table-header-group;
}
.divTableCell, .divTableHead {
    display: table-cell;
    padding: 11px 21px;
}
.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}
.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
}
.divTableBody {
    display: table-row-group;
}
.divTableRow .divTableCell:last-child {
    padding-right: 0;
}
.divTableRow .divTableCell:first-child {
    padding-left: 0;
}
/* Menu Tabla */
.program nav a {
    text-decoration: none;
}
.program nav img {
    width: 21px;
    height: auto;
    float: left;
    margin-top: -5px;
    margin-left: 10px;
}
.program nav {
    margin-top: 35px;
    border-top: 1px solid #6f6f6f;
    padding-top: 16px;
    text-align: center;
    word-spacing: 0.1em;
}
.program nav span {
    padding: 0 30px 0 30px;
}
.program nav span:first-child {
    color: #da1418;
}
.program nav span:hover {
    transition: 1s;
    color: #da1418;
    cursor: pointer;
}

/***********/
/*Reset Seccion*/
.dif {
   padding-bottom: 50px;
}
.speak {
    height: 840px;
    background-color: rgba(255, 255, 255,.7);
    color: #0088aa;
    word-spacing: 0.1em;
}
.box {
    margin: 30px 100px 100px 100px;
}
/* Section 5 */
.speak h1 {
    text-align: center;
    color: #0088aa;
    font-size: 1.250em;
    letter-spacing: 0.1em;
    padding-top: 32px;
    padding-bottom: 15px;
}
.speak hr {
    margin:  0 auto;
    height: 1px;
    width: 40px;
    background-color: #0088aa;
    border: none;
}
/*VIP*/
.box img {
    float: left;
}
.box div {
    background-color: #0088aa;
    color: #FFFFFF;
    margin-left: 260px;
    height: 250px;
    font-size: 0.813em;
}
#viptext h2 {
    padding-top: 100px;
    padding-left: 40px;
    padding-bottom: 12px;
    font-size: 1.250em;
    letter-spacing: 0.15em;
    word-spacing: 0.2em;
}
#viptext h3 {
    padding-left: 40px;
    color: #000000;
    font-weight: 700;
    letter-spacing: 0.05em;
}
#viptext h3:last-child {
    padding-top: 22px;
    color:  #FFFFFF;
    font-weight: 400;
    letter-spacing: 0.05em;
}
/*Slider*/
#owl-demo {
    width: 100%;
}
#owl-demo .item{
    display: block;
    width: 75.43%;
    height: 400px;
    margin: 0 auto;
}
.owl-theme .owl-controls {
    margin-top: -60px;
    margin-bottom: -20px;
    margin-right: 100px;
    text-align: right;
}
.owl-theme .owl-controls .owl-page span{
    border: 2px solid #0088aa;
    background:  transparent;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background:  #0088aa;
}
/* backSlide */
.owl-backSlide-out {
  animation: backSlideOut 2s both ease;
}
.owl-backSlide-in {
  animation: backSlideIn 2s both ease;
}
/*Exposition Title*/
#animal {
    margin-bottom: 36px;
}
/*Info Speakers*/
.secdown {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content:space-between;
}
.icof {
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
    background-color: #0088aa;
    color: #FFFFFF;
    padding: 12px;
    text-align: left;
    letter-spacing: 0.051em;
}
.icof h2 {
    font-weight: 700;
    font-size: 0.813em;
}
.icof h3 {
    font-size: 0.625em;
    padding-top: 5px;
}
.icof p {
    height: 50px;
    margin-top: 50px;
    font-size: 0.625em;
    overflow: scroll;
}
.icof div {
    display: none;
}
/*Speakers Photo*/
#item1 {
    background-image: url('../imagenes/speakers/Alejandro_Sanchez.jpg');
}
#item2 {
    background-image: url('../imagenes/speakers/Carole_Labonne.jpg');
}
#item3 {
    background-image: url('../imagenes/speakers/Jesus_Monroy.jpg');
}
#item4 {
    background-image: url('../imagenes/speakers/Joachim_Wittbrodt.jpg');
}
#item5 {
    background-image: url('../imagenes/speakers/Mariana_Barna.jpg');
}
#item6 {
    background-image: url('../imagenes/speakers/Miguel_Concha.jpg');
}
#item7 {
    background-image: url('../imagenes/speakers/Robb_Krumlauf.jpg');
}
#item8 {
    background-image: url('../imagenes/speakers/Roberto_Mayor.jpg');
}
/*Hover Speakers*/
#item1:hover {
    background: linear-gradient(rgba(0, 136, 170,.6), rgba(0, 136, 170,.6)), url('../imagenes/speakers/Alejandro_Sanchez.jpg');
}
#item1:hover div {
    display: block;
}
#item2:hover {
    background: linear-gradient(rgba(0, 136, 170,.6), rgba(0, 136, 170,.6)), url('../imagenes/speakers/Carole_Labonne.jpg');
}
#item2:hover div {
    display: block;
}
#item3:hover {
   background: linear-gradient(rgba(0, 136, 170,.6), rgba(0, 136, 170,.6)), url('../imagenes/speakers/Jesus_Monroy.jpg');
}
#item3:hover div {
    display: block;
}
#item4:hover {
    background: linear-gradient(rgba(0, 136, 170,.6), rgba(0, 136, 170,.6)), url('../imagenes/speakers/Joachim_Wittbrodt.jpg');
}
#item4:hover div {
    display: block;
}
#item5:hover {
    background: linear-gradient(rgba(0, 136, 170,.6), rgba(0, 136, 170,.6)), url('../imagenes/speakers/Mariana_Barna.jpg');
}
#item5:hover div {
    display: block;
}
#item6:hover {
    background: linear-gradient(rgba(0, 136, 170,.6), rgba(0, 136, 170,.6)), url('../imagenes/speakers/Miguel_Concha.jpg');
}
#item6:hover div {
    display: block;
}
#item7:hover {
    background: linear-gradient(rgba(0, 136, 170,.6), rgba(0, 136, 170,.6)), url('../imagenes/speakers/Robb_Krumlauf.jpg');
}
#item7:hover div {
    display: block;
}
#item8:hover {
    background: linear-gradient(rgba(0, 136, 170,.6), rgba(0, 136, 170,.6)), url('../imagenes/speakers/Roberto_Mayor.jpg');
}
#item8:hover div {
    display: block;
}
/***********/

/* Section 6 */
#venue h1 {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 15px;
    color: #da1418;
    font-size: 1.250em;
    letter-spacing: 0.1em;
}
#venue hr {
    margin:  0 auto;
    height: 1px;
    width: 40px;
    background-color: #da1418;
    border: none;
}
/*Google Maps*/
#venue iframe{
    margin-top: 30px;
}
#venue div {
    margin-top: 37px;
    margin-bottom: 50px;
}
#venue div img {
    width: 275px;
    height: 200px;
    float: left;
}
#venue p {
    color: #6f6f6f;
    padding-top: 0;
    margin-left: 304px;
    margin-right: 45px;
    font-size: 0.813em;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
    line-height: 1.7em;
    text-align: justify;
    max-height: 200px;
    overflow: auto;
}
/***********/
/*Reset Section*/
#welmed {
    height: 700px;
    background-color: rgba(255, 255, 255,.7);
    color: #0088aa;
    word-spacing: 0.1em;
}
/* Section 7 */
#welmed h1 {
    text-align: center;
    color: #0088aa;
    font-size: 1.250em;
    letter-spacing: 0.1em;
    padding-top: 32px;
    padding-bottom: 15px;
}
#welmed hr {
    margin:  0 auto;
    height: 1px;
    width: 40px;
    background-color: #0088aa;
    border: none;
}
#welmed div {
    margin-top: 26px;
    margin-bottom: 40px;
}
#welmed div img {
    float: left;
    margin-left: 100px;
    width: 205px;
    height: 275px;
}
#welmed div p {
    color: #6f6f6f;
    margin-left: 334px;
    margin-right: 100px;
    font-size: 0.813em;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
    line-height: 1.7em;
    text-align: justify;
    max-height: 275px;
    overflow: auto;
}
.box2 {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 36px;
}
.box2 ul {
    margin-top: 123px;
    list-style-type: none;
}
.box2 ul i {
    margin:  6px 12px 0 0;
    float: left;
    color: #da1418;
}
.box2 li {
    line-height: 1.7em;
    text-align: right;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
}
.box2 li a {
    color: #6f6f6f;
    text-decoration: none;
}
#welmed iframe{
    border: 13px solid #FFFFFF;
}

/***********/

/* Section 8 */

/***********/

/* Section 9 */

/***********/

/* Section 10 */

/***********/

/* Section 11 */

/***********/

/* Footer */

/***********/
