@charset 'UTF-8';

/**************
CSS PRINCIPAL
************/
/*
MIDESFI
WIREFRAME 1

Concepto de interacción
scroll infinito

Paleta de colores
Amarillo:       #f5c400
gris oscuro:    #666666
gris claro:     #e6e6e6
blanco:     #fff


Tipografia
ubuntu

MENU
Barra de contacto superior: 10pt
Menú: 12pt
Ingresar:14pt
indicadores: 10pt

SLIDE
Frase publicidad:20pt

SECCION NECESIDADES
Franjas de textos: 20pt negrilla + 16pt
textos iconos: 14pt

SECCION EQUIPO
frase inicial seccion:16pt
contenido: 14pt

SECCION SERVICIOS
titulos servicios:16pt(necesito) 20pt (servicio) y 16pt(conocer mas)
boton registrate: 16pt

SECCION BLOG
texto blog:14pt + 16pt y negrilla

SECCION CONTACTENOS
Contenido:14pt
Ciudad:12pt
Redes Sociales:14pt

COPYRITGH
contenido:10pt


*/

/*Reset Inicial*/

*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
}
body {
    background-color: #666666;
}
.wrap {
    width: 100%;
    background-color: #f5c400; 
    height: 30px;
}
/*Contacto Up*/
.contactUp, .menu {
    margin: 0 auto;
    width: 824px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
.contactUp a {
    text-decoration: none;
    color: #fff;
    margin: 5px 20px;
}
.contactUp a:last-child {
    margin-right: 0;
}
.contactUp a span{
    margin-right: 10px;
}
/*Menu*/
.menu {
    justify-content: space-between;
    height: 90px;   
}
.logo {
    height: 90px;
    width: 200px;
    background-image: url('../imagenes/logos/Midesfi_logo_menu.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 15px auto;
}
nav {
    margin: 30px 0;
}
nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    padding-top: 10px;
}
nav a:hover {
    border-top: 2px solid #f5c400;
}
/*Boton Ingresar*/
.login {
    text-decoration: none;
    background-color: rgba(245,196,0,0.9);
    padding: 20px;
    position: relative;
    z-index: 1;
    left: 955px;
    top: 5px;
    color: #666666;
}
.login:hover{
    top: 7px;
    box-shadow: 0px 0px 5px #f5c400;
}
.login i {
    padding-left: 10px;
}
/*Indicadores Economicos*/
#index {
    margin: 0 auto;
    width: 824px;
}
.bgCarouselH {width: 100%; background-color:#fff;}
.bgCarouselH li {padding: 15px; margin-left: 40px; float: left;}
.bgCarouselH li a {margin-right: 10px;}
.bgCarouselH div  {padding-top:15px;}
/*Imagen Entrepreneur*/
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
.franja {
    color: #fff;
    margin-top: -350px;
    margin-left: 17%;
}
/*Servicios*/
.blanco {
    margin: 0 auto;
    width: 824px;
    background-color: rgba(255,255,255,0.9);
}
.head {
    margin: 0 auto;
    width: 824px;
    background-color: rgba(245,196,0,0.8);
    position: relative;
    z-index: 1;
    top: -40px;
}
.head p{
    color: #666666;
    text-align: center;
    padding: 15px;
}
/*Servicios Iconos*/
#servicon {
    margin-top: -40px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.icons a {
    text-decoration: none;
}
.icons img{
    margin: 25px 100px;
    margin-top: 60px;
}
.icons p{
    text-align: center;
    color: #666666;
}
#item2, #item6 {
    margin-top: 5px;
}
#item3 {
    margin-top: -5px;
}
/*Quines Somos*/
.gris{
    width: 824px;
    margin: 0 auto;
    padding: 40px 0 90px 0;
}
.gris div img {
    margin: 0 46%;
    margin-top: 40px;
    margin-bottom: 25px;
}
.gris div p {
    margin: 0 auto;
    text-align: center;
    width: 590px;
    color: #fff;
}
.textserv p {
    text-align: center;
    padding: 50px 130px;
    color: #666666;
}
.serv {
    margin-left: 90px;
    margin-right: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 0.9em;
}
.boxleft p {
    text-align: right;
    padding: 5px 50px 5px 0;
    color: #666666;  
}
.boxleft i {
    color: #f5c400;
    float: right;
    margin-top: -5px;
    padding-left: 15px;
}
.boxright p {
    text-align: left;
    padding: 5px 0 5px 50px;
    color:  #666666;  
}
.boxright i {
    color: #f5c400;
    float: left;
    margin-top: -5px;
    padding-right: 15px;
}
.textyellow {
    background-color: #f5c400;
    text-align: center;
    padding: 20px 100px;
    color: #fff;
}
.finan {
    margin: 50px 50px 0 50px; 
    padding-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.necleft, .necright {
    width: 49%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.line {
    width: 1px;
    height: auto;
    background-color: #f5c400;
}
.text {
    width: 40%;
    color: #e6e6e6;
    line-height: 1.2em;
}
.text p{
    text-align: left !important;
}
.text a{
    text-decoration: none;
    color: #f5c400;
}
.text a i{
    padding-left: 10px;
}
.img {
    float: left;
    width: 40%;
    margin-top: -25px;
}
.foto {
    background-image: url('../imagenes/contacto.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}
.foto2 {
    margin: 0 auto;
    width: 824px;
}
.secupf2 {
    background-color: rgba(245,196,0,0.8);
    text-align: center;
    color: #fff;
    padding: 25px 0;
    position: relative;
    z-index: 1;
    top: -60px;
}
.secupf2 p {
    padding-bottom: 20px;
}
.secupf2 span {
    background-color: rgba(245,196,0,0.0);
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 70px;
    cursor: pointer;
}
.secupf2 span:hover {
    box-shadow: 0px 0px 5px #fff;
}
.secupf2 span:active {
    border: 2px solid #fff;
}
.secmidf2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 0 100px;
    color: #f5c400;
    padding-bottom: 50px;
}
.secmidf2 p {
    width: 250px;
}
.secmidf2 input {
    width: 250px;
    border: 1px solid #f5c400;
    background-color: transparent;
    font-style: italic;
    padding: 5px 0;
    padding-left: 15px;
    margin: 0 0 10px 0;
}
.secmidf2 input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f5c400;
}
#formulario {
    margin-left: 150px;
}
button {
    color: #666666;
    width: 250px;
    background-color: #f5c400;
    border: 1px solid #f5c400;
    padding: 5px 0;
}
.secdownf2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.9);
    padding: 20px 35px;
}
.secdownf2 p{
    color: #666666;
    padding-right: 10px;
}
.secdownf2 span{
    color: #f5c400;
    padding-right: 10px;
}
.secdownf2 a{
    color: #666666;
    text-decoration: none;
    margin-top: 10px;
}
#img2 {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    background-image: url('../imagenes/logos/Midesfi_logo_contactenos.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
#socialmedia {
    margin: 0 200px ;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 50px;
}
#socialmedia p {
    text-align: center;
    color:  #f5c400;
}
#socialmedia a {
    text-decoration: none;
    color:  #f5c400;
    padding-right: 30px;
}
footer {
    width: 100%;
    background-color: #e6e6e6;
}
footer p {
    margin-top: 15px;
}