@charset 'UTF-8';

/**************
CSS PRINCIPAL
************/
/*
MIDESFI
WIREFRAME 1

Concepto de interacción
scroll infinito

Paleta de colores
Amarillo:       #f5c400
gris oscuro:    #666666
gris claro:     #e6e6e6
blanco:     #fff


Tipografia
ubuntu

MENU
Barra de contacto superior: 10pt / 13px
Menú: 12pt / 16px
Ingresar:14pt / 18px
indicadores: 10pt / 13px

SLIDE
Frase publicidad:20pt / 26px

SECCION NECESIDADES
Franjas de textos: 20pt / 26px negrilla + 16pt / 21px
textos iconos: 14pt / 18px

SECCION EQUIPO
frase inicial seccion:16pt / 21px
contenido: 14pt / 18px

SECCION SERVICIOS
titulos servicios:16pt / 21px (necesito) 20pt / 26px (servicio) y 16pt / 21px (conocer mas)
boton registrate: 16pt / 21px

SECCION BLOG
texto blog:14pt / 18px + 16pt / 21px y negrilla

SECCION CONTACTENOS
Contenido:14pt / 18px
Ciudad:12pt / 16px
Redes Sociales:14pt / 18px

COPYRITGH
contenido:10pt / 13px


*/

/*Reset Inicial*/

*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
}
body {
    background-color: #666666;
}
.wrap {
    width: 100%;
    background-color: #f5c400; 
    height: auto;
}
/*Contacto Up*/
.contactUp, .menu {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
.contactUp a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    margin: 10px 20px;
}
.contactUp a:last-child {
    margin-right: 0;
}
.contactUp a span{
    float: left;
    margin-top: -5px;
    margin-right: 10px;
}
/* Header */
.menu_bar {
    display:none;
}
/********/
@media screen and (max-width:1034px){
body {
    margin-top: 80px;
}
/* Header */
.menu_bar {
    width: 100%;
    height: 80px;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index:1001;
    background-color: #666666;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.75);
}
.menu_bar .bt-menu {
    display: block;
    padding: 25px;
    overflow: hidden;
    text-decoration: none;
    float: right;
}
.bt-menu {
    cursor: pointer;
}
.menu_bar span {
    color: #FFFFFF;
    font-size: 2em;
}
.navimgres{
    width: 250px;
    padding: 10px;
}
/*Contacto Up*/
.contactUp {
    display: none;
}
}
/*Menu*/
.menu {
    flex-flow: row wrap;
    justify-content: space-between;
    height: 110px;   
}
.logo {
    height: 70px;
    width: 25%;
    background-image: url('../imagenes/logos/Midesfi_logo_menu.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 15px 0 30px 10px;
}
nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 45px 0 40px 0;
}
nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-left: 50px;
    padding-top: 5px;
}
nav a:hover {
    border-top: 3px solid #f5c400;
}
@media screen and (max-width:1034px){
/*Menu*/
.logo {
    display: none;
}
.menu {
    height: auto;   
}
nav {
    display: block;
    width: 38%;
    height: 100%;
    top: 0;
    position: fixed;
    right: -100%;
    margin: 0;
    padding: 120px 10px;
    z-index: 1000;
    background-color: rgba(102,102,102,0.9);
}
nav a {

    text-align: center;
    display: block;
    margin: 0;
    padding: 10px 0 20px 0;
}
nav a:hover {
    border-top: 3px solid #f5c400;
}
}
/*Boton Ingresar*/
#login {
    display: none;
}
.login {
    text-decoration: none;
    background-color: rgba(245,196,0,0.9);
    color: #666666;
    font-size: 16px;
    width: 200px;
    position: absolute;
    z-index: 1;
    left: 80%;
    top: 130px;
    padding: 5px 15px 1px 30px;
}
.login:hover{
    box-shadow: 0px 0px 5px #f5c400;
}
.login i {
    float: right;
    margin-top: -8px;
}
@media screen and (max-width:768px){
/*Boton Ingresar*/
.login {
    width: 200px;
    position: absolute;
    z-index: 1;
    left: 45%;
    top: 230px;
}
}

@media screen and (max-width:1034px) and (min-width:768px){
/*Boton Ingresar*/
.login {
    left: 65%;
    top: 140px;
}
}
/*Indicadores Economicos*/
#bgBody{
    margin: 0 auto;
    padding: 10px 10%;
    background-color: #fff;
}
/*Imagen Entrepreneur*/
#owl-demo .item {
    display: block;
    width: 100%;
    height: 440px;
    background-image: url('../imagenes/entrepeneur.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
.franja {
/*     border: 1px solid black; */
    color: #fff;
    font-size: 26px;
    padding: 65px 0 0 10%;
/*     width: 620px; */
}
@media screen and (max-width:767px){
#owl-demo .item {     
    background-size: 140%;
    }

.franja {
    display:none;
   /* padding: 10%;
    font-size: 18px;
    text-align: center;*/
}
.franja p {
    background-color: rgba(0,0,0,0.3);
    padding: 5%;
}
}
@media screen and (max-width:1034px) and (min-width:768px){
.franja {
    color: #fff;
    font-size: 10px;
    padding: 3% 0 0 5%;
}
.franja p {
    text-align: left;
    background-color: transparent;
}
}
/*Servicios*/
.blanco {
    margin: 0 auto;
    width: 80%;
    background-color: rgba(255,255,255,0.9);
}
.head {
    margin: 0 auto;
    padding: 20px 0 40px 0;
    width: 80%;
    background-color: rgba(245,196,0,0.8);
    position: relative;
    z-index: 1;
    top: -65px;
}
.head p{
    color: #666666;
    font-size: 21px;
    text-align: center;
}
.head strong{
    font-size: 26px;
}
@media screen and (max-width:768px){
/*Servicios*/
.head {
    padding: 5%;
    z-index: 0;
    margin-top: -50%;
}
.head p{
    font-size: 14px;
}
.head strong{
    font-size: 18px;
}
}
@media screen and (max-width:1034px) and (min-width:768px){
/*Servicios*/
.head {
    margin: -25% auto 18% auto;
    padding: 2%;
    z-index: 0;
    top: 0;
}
.head p{
    font-size:16px;
}
.head strong{
    font-size: 21px;
}
}
/*Servicios Iconos*/
#servicon {
    margin-top: -65px;
    padding: 40px 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.icons a {
    text-decoration: none;
}
.icons img{
    margin: 20px 130px;
}
.icons p{
    text-align: center;
    color: #666666;
    font-size: 18px;
    margin-bottom: 20px;
}
#item2, #item6 {
    margin-top: 6px;
}
#item3 {
    margin-top: -1px;
}
@media screen and (max-width:768px){
/*Servicios Iconos*/
#servicon {
    margin-top: -22%;
    padding: 2% 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.icons a {
    text-decoration: none;
}
.icons img{
    margin: 20px 110px;
}
.icons p{
    text-align: center;
    color: #666666;
    font-size: 14px;
    margin-bottom: 20px;
}
#item2, #item6 {
    margin-top: 6px;
}
#item3 {
    margin-top: -1px;
}
}
/*Quines Somos*/
.gris{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0 95px 0;
}
.gris div img {
    margin: 0 49%;
    margin-bottom: 30px;
}
.gris div p {
    margin: 0 11%;
    text-align: center;
    color: #fff;
    font-size: 21px;
}
.textserv p {
    text-align: center;
    padding: 50px 14%;
    color: #666666;
    font-size: 21px;
}
.serv {
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 0.9em;
}
.boxleft p {
    text-align: right;
    padding: 5px 50px 5px 0;
    color: #666666; 
    font-size: 18px; 
}
.boxleft i {
    color: #f5c400;
    float: right;
    margin-top: -5px;
    padding-left: 15px;
}
.boxright p {
    text-align: left;
    padding: 5px 0 5px 50px;
    color:  #666666;
    font-size: 18px;  
}
.boxright i {
    color: #f5c400;
    float: left;
    margin-top: -5px;
    padding-right: 15px;
}
.textyellow {
    background-color: #f5c400;
    text-align: center;
    padding: 25px 20%;
    color: #fff;
    font-size: 18px;
}
@media screen and (max-width:768px){
/*Quines Somos*/
.gris div img {
    margin: 0 45% 0 45%;
    margin-bottom: 30px;
}
.gris div p {
    margin: 0;
    padding: 3%;
}
.textserv p {
    padding: 50px 5%;
    font-size: 17px;
}
.serv {
    margin: auto;
    justify-content: space-around;
    margin-bottom: 10%;
}
.boxleft p {
    padding: 5px 3%;
}

.boxright p {
    padding: 5px 12%; 
}
.boxcenter {
    margin: 7%;
}
.textyellow {
    padding: 9%;
}
}
@media screen and (max-width:1034px) and (min-width:768px){
/*Quines Somos*/
.serv {
    flex-flow: column;
    align-items: center;
    margin-bottom: 5%;
    margin-left: 1%;
}
.boxleft p {
    padding: 5px 0;
    font-size: 18px;
}

.boxright p {
    padding: 5px 0; 
    font-size: 18px;
}
.boxcenter {
    margin: 5% 0;
}
.textyellow {
    padding: 4%;
}
}
/*Seccion Servicios Acompanamiento financiero*/
.finan {
    margin: 50px 60px 40px 50px; 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.necleft, .necright {
    width: 49%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.line {
    width: 1px;
    height: auto;
    background-color: #f5c400;
}
.text {
    width: 40%;
    color: #e6e6e6;
}
.text p{
    text-align: left !important;
    font-size: 21px !important;
    color: #e6e6e6 !important;
    margin-left: 0 !important;
}
.text h2{
    text-align: left !important;
    font-size: 26px;
}
.text a{
    text-decoration: none;
    color: #f5c400;
    font-size: 21px;
}
.text a i{
    padding-left: 10px;
}
.img {
    float: left;
    width: 90px;
    margin-top: 30px;
}
@media screen and (max-width:768px){
/*Seccion Servicios Acompanamiento financiero*/
.finan {
    margin: auto; 
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}
.line {
    width: 80%;
    height: 1px;
    margin: 5% auto;
}
.necleft, .necright {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 5%;
}
.text {
    width: 65%;
    color: #e6e6e6;
}
.text p{
    font-size: 16px !important;
}
.text h2{
    font-size: 21px;
}
.text a{
    font-size: 16px;
}
.img img{
    width: 60%;
    height: 55%;
}
}
@media screen and (max-width:1034px) and (min-width:768px){
/*Seccion Servicios Acompanamiento financiero*/
.finan {
    margin: 0 5% 10% 5%; 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.necleft, .necright {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.line {
    width: 80%;
    height: 1px;
    background-color: #f5c400;
}
.text p{
    font-size: 21px !important;
}
.text h2{
    font-size: 26px;
}
.text a{
    font-size: 21px;
}
.text a i{
    padding-left: 10px;
}
.img {
    float: left;
    width: 20%;
}
}
.foto {
    background-image: url('../imagenes/contacto.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}
.foto2 {
    margin: 0 auto;
    width: 80%;
}
.secupf2 {
    background-color: rgba(245,196,0,0.8);
    text-align: center;
    color: #fff;
    padding: 25px 0;
    position: relative;
    z-index: 1;
    top: -55px;
}
.secupf2 p {
    padding-bottom: 20px;
    font-size: 18px;
}
.secupf2 p strong {
    font-size: 21px;
}

.secupf2 span a{
     text-decoration: none;
     color: white;
}
.secupf2 span {
    background-color: rgba(245,196,0,0.0);
    color: #fff;
    font-size: 21px;
    border: 1px solid #fff;
    padding: 4px 75px;
    cursor: pointer;
}

.secupf2 span:hover {
    box-shadow: 0px 0px 5px #fff;
}
.secupf2 span:active {
    border: 2px solid #fff;
}
.secmidf2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 10%;
    color: #f5c400;
    padding-bottom: 50px;
}
.secmidf2 p {
    width: 300px;
    font-size: 18px;
}
.secmidf2 p strong {
    font-size: 21px;
}
#formulario {
    margin-left: 30%;
}
.secmidf2 input {
    width: 300px;
    border: 1px solid #f5c400;
    background-color: transparent;
    font-style: italic;
    padding: 5px 0;
    padding-left: 15px;
    margin: 0 0 10px 0;
}
.secmidf2 input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f5c400;
}
button {
    color: #666666;
    width: 300px;
    background-color: #f5c400;
    border: 1px solid #f5c400;
    padding: 5px 0;
}
.secdownf2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.9);
    padding: 20px 35px;
    margin-top: -10px;
}
.secdownf2 p{
    color: #666666;
    font-size: 18px;
    padding-right: 10px;
}
.secdownf2 span{
    color: #f5c400;
    padding-right: 15px;
    margin-top: -8px;
    float: left;
}
.secdownf2 a{
    color: #666666;
    font-size: 18px;
    text-decoration: none;
    margin-top: 10px;
}
.secdownf21 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.9);
    padding: 20px 0;
    margin-top: -10px;
}
.secdownf21 p{
    color: #666666;
    font-size: 18px;
    padding-right: 10px;
}
.secdownf21 a{
    color: #666666;
    font-size: 18px;
    text-decoration: none;
    margin-top: 10px;
    padding-right: 15px;
}
@media screen and (max-width:768px){
.secupf2 {
    padding: 5% 0;
    position: initial;
    z-index: 0;
    margin-top: -15%;
}
.secupf2 p {
    padding-bottom: 7%;
    font-size: 18px;
}
.secupf2 p strong {
    font-size: 21px;
}
.secupf2 span {
    font-size: 16px;
    padding: 3%;
}
.secmidf2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 10% auto;
    padding:0;
}
.secmidf2 p {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 5%;
}
#formulario {
    margin: 0 auto;
}
.secdownf2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 3%;
}
.secdownf2 p{
    color: #666666;
    font-size: 16px;
    padding-right: 0;
    text-align: center;
    padding-bottom: 3%;
}
.secdownf2 span{
    color: #f5c400;
    padding-right: 15px;
    float: left;
}
.secdownf2 a{
    color: #666666;
    font-size: 18px;
    text-decoration: none;
    margin-top: 10px;
}
}
@media screen and (max-width:1034px) and (min-width:768px){
.secupf2 {
    padding: 5% 0;
    position: relative;
    z-index: 1;
    top: -65px;
    margin-top:0;
}
.secupf2 p {
    padding: 0;
    margin-bottom: 5%;
    font-size: 16px;
}
.secupf2 p strong {
    font-size: 16px;
}
.secupf2 span {
    font-size: 16px;
    padding: 2%;
}
.secmidf2 {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin: -7% auto 10% auto;
    padding:0;
}
.secmidf2 p {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 5%;
}
#formulario {
    margin: 0 25%;
}
}
/*Contactenos*/
.contactenos {
    margin-bottom: -50px;
}
#img2 {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 260px;
    height: 65px;
    background-image: url('../imagenes/logos/Midesfi_logo_contactenos.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.contactenos p {
    font-size: 9px;
}
hr {
    border:1px solid #f5c400;
    margin: 30px 90px 0 90px;
}
#socialmedia {
    margin: 0 200px ;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 20px;
}
#socialmedia p {
    text-align: center;
    color:  #f5c400;
    font-size: 18px;
}
#socialmedia a {
    text-decoration: none;
    color:  #f5c400;
    padding-right: 30px;
}
footer {
    width: 100%;
    background-color: #fff;
}
footer p {
    margin-top: 15px;
    font-size: 13px;
}
@media screen and (max-width:768px){
/*Contactenos*/
.contactenos {
    margin-top: 80%;
    margin-bottom: 0;
}
#img2 {
    margin: 20% auto 10% auto;
}
.contactenos p {
    width: 100%;
    margin: 0 !important;
    font-size: 9px;
}

hr {
    border:1px solid #f5c400;
    margin: 10% auto 5% auto;
}
#socialmedia {
    margin: auto;
}
#socialmedia p {
    margin-top: -3% !important;
    font-size: 16px;
}
#socialmedia a {
    padding-right: 5%;
}
footer {
    width: 100%;
    background-color: #fff;
}
footer p {
    margin-top: 15px;
    font-size: 13px;
}
.secdownf21 {
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin-top: 0;
}
.secdownf21 p{
    text-align: center;
    padding-right: 0;
}
.gris{
    padding-bottom: 5%;
}
.gris div p {
    margin: 0;
    padding: 0 !important;
}
}
@media screen and (max-width:1034px) and (min-width:768px){
/*Contactenos*/
.contactenos {
    margin-top: 30%;
    margin-bottom: 0;
}
#socialmedia p {
    width: auto;
    margin: 0;
    padding-left: 10%;
    font-size: 16px;
}
#socialmedia a {
    padding-right: 10%;
}
}